.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log
*.ipynb

node_modules
frontend
vite-frontend

data
figures

artifacts/*
!artifacts/models/yarko_rf_model.pkl
!artifacts/models/yarko_calibration.npz
